html, body{
	font-family: 'montserratregular', "Montserrat", Helvetica, Arial, sans-serif;
}
html{
	position: relative;
  	min-height: 100%;
}
body{
	margin-bottom: 254px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
p{
	font-family: 'montserratregular', Helvetica, Arial, sans-serif;
}
.success{
	color: #3c763d;
}
strong{
	font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.top-bar{
	text-align: center;
	background: #d2151d;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 0px;
}
.center{
	text-align: center;
}
.right{
	text-align: right; 
}
.left{
	text-align: left;
}
.float-center{
	margin: auto;
	display: block;
}
.img-full{
	width: 100%;
	max-width: 100%;
}
figcaption{
	margin: 10px 0px;
}
.navbar{
	border-bottom: 4px solid #E4E4E4;
	margin-bottom: 0px;
}
.navbar-brand{
	height: auto;
	width: 320px;
}
.navbar-brand img{
	width: 100%;
}
.navbar-social-wrap{
	margin-top: 22px;
	display: none;
}
.navbar-social{
	width: 34px;
	height: 34px;
	margin: 14px 2px;
	float: right;
}
.navbar-social.facebook{
	background: url(../images/wunderful-tails-facebook.png) no-repeat;
	background-size: 100%;
}
.navbar-social.yelp{
	background: url(../images/wunderful-tails-yelp.png) no-repeat;
	background-size: 100%;
}
.navbar-social.twitter{
	background: url(../images/wunderful-tails-twitter.png) no-repeat;
	background-size: 100%;
}
.navbar-social.gplus{
	background: url(../images/wunderful-tails-google-plus.png) no-repeat;
	background-size: 100%;
}
.navbar-social.pintrest{
	background: url(../images/wunderful-tails-pintrest.png) no-repeat;
	background-size: 100%;
}
.nav>li>a{
	color: #000000;
	font-weight: bold;
}
.navbar-toggle{
	margin-top: 36px;
}
.navbar-toggle .icon-bar{
	background-color: #000000;
}
@media (min-width: 992px){
	.navbar-nav {
		margin-top: 40px;
	}
}
@media (min-width: 768px){

	.top-bar{
		text-align: right;
	}
	.navbar-social-wrap{display: block;}
}
@media (max-width: 767px){
	.navbar-collapse{
		border-top: 3px solid #cccccc;
	}
}
p a:hover .btn-primary{
	text-decoration: none !important;
}
a.no-u, a.no-u:hover, a.no-u:active{
	text-decoration: none;
}
.btn-primary{
	background: #0F7AD6;
	border-color: #0F7AD6;
	color: #ffffff;
	padding: 16px 16px;
	border-radius: 0px;
	text-shadow: 0px 1px #0F7AD6;
	font-weight: bold;
	text-decoration: none;
}
.btn-primary:hover{
	background: #0F7AD6;
	border-color: #0F7AD6;
	text-decoration: none;
}

.buf-sm{
	margin: 20px auto;
}
.buf-md{
	margin: 40px auto;
}
.buf-sm-bottom{
	margin-bottom: 20px;
}
.buf-md-bottom{
	margin-bottom: 40px;
}
.buf-lg-bottom{
	margin-bottom: 60px;
}
.buf-left{
	padding-left: 30px;
}
.sec{
	padding: 30px 0px;
}
.sec.grey{
	background: #eeeeee;
}
.map-wrap{
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.map-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.homepage-feat{
	background: #d2151d;
	color: #ffffff;
	position: relative;
	overflow: hidden;
	margin-bottom: 0px;
}
.homepage-feat-meta{
	position: relative;
	z-index: 2;
}
.homepage-feat-meta h1{
	font-size: 38px;
	font-weight: bold;
}
.homepage-feat-truck{
	width: 300px;
	padding-bottom: 18.8%;
	background: url(../images/truck-hero.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin: 20px auto;
}
.homepage-feat-duke{
	position: absolute;
	z-index: 1;
	width: 400px;
	max-width: 100%; 
	padding-bottom: 48%;
	background: url(../images/duke-wunder.jpg) no-repeat;
	background-size: contain;
	background-position: center top;
	top: 0px;
}
@media (max-width: 992px){
	.homepage-feat-duke{
		display: none;
	}
	.homepage-feat-meta h1{
		font-size: 40px;
	}
	.buf-left{
		padding-left: initial;
	}
}
@media (max-width: 767px){
	.homepage-feat-truck{
		padding-bottom: 35%;
	}
	.homepage-feat-meta h1{
		font-size: 34px;
	}
}
#hydro-massage p{
	line-height: 1.8em;
}
@media (min-width: 768px){
	#hydro-massage{
		margin-top: 28px;
	}
}
/* Make an appointment */
.make-an-appointment-wrap{
	padding: 26px;
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-top: 28px;
}
@media (max-width: 767px){
	.make-an-appointment-wrap{
		padding: 0px;
		border: none;
	}
}
.form-required{
	color: red;
	font-weight: bold;
}
#policies-procedures-wrap{
	max-height: 100%;
	height: 500px;
	overflow-y: scroll;
}
/* Services */
.service-entry{
	margin-bottom: 20px;
}
/* Footer */
.pre-footer{
	color: #ffffff;

	border-top: 1px solid #cccccc;
	background: #0F7AD6;
}
#pre-footer-fact{
	color: #ffffff;
}
.btn-pre-footer{
	background: transparent;
	color: #ffffff;
	border-radius: 0px;
	border: 1px solid #ffffff;
	padding: 16px 16px;
	text-shadow: none;
	font-weight: bold;
	transition: all 100ms ease;
}
.btn-pre-footer:hover{
	background: #ffffff;
	color: #0F7AD6;
}
.footer{
	position: absolute;
    bottom: 0;
    width: 100%;
	background: #eeeeee;
	padding: 60px 0px;
}
.footer .footer-col{
	margin-bottom: 10px;
}
.footer-col ul{
	margin-bottom: 0px;
}
.footer-nav ul{
	padding-left: 0;
}
.footer-nav ul li{
	display: inline-block;
	margin-right: 10px;
}
.footer-nav ul li:last-of-type{
	margin-right: 0px;
}
@media (max-width: 1199px){
	body{
		margin-bottom: 284px;
	}
}
@media (min-width: 768px){
	.sec{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.pre-footer{
		padding-top: 48px;
		padding-bottom: 50px;
	}
}
@media (max-width: 767px){
	body{
		margin-bottom: 0px;
	}
	.footer{
		position: relative;
	}
	.footer .right{
		text-align: center;
	}
	.footer .footer-col{
		margin: 12px 0px 14px;
		padding-bottom: 14px;
		text-align: center;
		border-bottom: 1px solid #cccccc;
	}
}
@media (max-width: 560px){
	.homepage-feat-meta h1{
		font-size: 26px;
	}
	#pre-header-intro-text{
		display: none;
	}
}
@media (max-width: 480px){
	.navbar-brand{
		width: 220px;
	}
	.navbar-toggle {
    	margin-top: 26px;
	}
}