html, body{
	font-family: 'montserratregular', "Montserrat", Helvetica, Arial, sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
p{
	font-family: 'montserratregular', Helvetica, Arial, sans-serif;
}
.top-bar{
	text-align: right;
	background: #d2151d;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 0px;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.float-center{
	margin: auto;
	display: block;
}
.img-full{
	width: 100%;
	max-width: 100%;
}
.navbar{
	border-bottom: 4px solid #E4E4E4;
	margin-bottom: 0px;
}
.navbar-brand{
	height: auto;
	width: 320px;
}
.navbar-brand img{
	width: 100%;
}
.nav>li>a{
	color: #000000;
	font-weight: bold;
}
.navbar-toggle{
	margin-top: 36px;
}
.navbar-toggle .icon-bar{
	background-color: #000000;
}
@media (min-width: 768px){
	.navbar-nav {
		margin-top: 40px;
	}
}
@media (max-width: 767px){
	.navbar-collapse{
		border-top: 3px solid #cccccc;
	}
}
.btn-primary{
	background: #0F7AD6;
	border-color: #0F7AD6;
	color: #ffffff;
	padding: 16px 16px;
	border-radius: 0px;
	text-shadow: 0px 1px #0F7AD6;
	font-weight: bold;
}
.btn-primary:hover{
	background: #0F7AD6;
	border-color: #0F7AD6;
}
.buf-sm{
	margin: 20px auto;
}
.buf-md{
	margin: 40px auto;
}
.sec{
	padding: 30px;
}
.sec.grey{
	background: #eeeeee;
}
.homepage-feat{
	background: #d2151d;
	color: #ffffff;
	position: relative;
	overflow: hidden;
}
.homepage-feat-meta{
	position: relative;
	z-index: 2;
}
.homepage-feat-meta h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
}
.homepage-feat-truck{
	width: 300px;
	padding-bottom: 18.8%;
	background: url(../images/truck-hero.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin: 20px auto;
}
.homepage-feat-duke{
	position: absolute;
	z-index: 1;
	width: 400px;
	max-width: 100%; 
	padding-bottom: 48%;
	background: url(../images/duke-wunder.jpg) no-repeat;
	background-size: contain;
	background-position: center top;
	top: 0px;
}
@media (max-width: 992px){
	.homepage-feat-duke{
		display: none;
	}
	.homepage-feat-meta h1{
		font-size: 40px;
	}
}
@media (max-width: 767px){
	.homepage-feat-truck{
		padding-bottom: 35%;
	}
	.homepage-feat-meta h1{
		font-size: 34px;
	}
}
#hydro-massage p{
	line-height: 1.8em;
}
@media (min-width: 768px){
	#hydro-massage{
		margin-top: 28px;
	}
}
.footer{
	background: #eeeeee;
	padding: 60px 0px;
}
.footer-nav ul{
	padding-left: 0;
}
.footer-nav ul li{
	display: inline-block;
	margin-right: 10px;
}
.footer-nav ul li:last-of-type{
	margin-right: 0px;
}
@media (min-width: 768px){
	.sec{
		padding-top: 70px;
		padding-bottom: 70px;
	}
}